# Example of CMakeOptions.txt file

#set(CGOGN_ROOT_DIR ${CMAKE_CURRENT_SOURCE_DIR}/../CGoGN_2)
#set(CGOGN_RELEASE_BUILD_DIR ${CGOGN_ROOT_DIR}/build/release)
#set(CGOGN_DEBUG_BUILD_DIR ${CGOGN_ROOT_DIR}/build/debug)

